body{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
    min-height: 100vh;
font-family: 'Fira Sans', sans-serif;
  display: flex;
}
.p{
    background-color: azure;
    border:1px solid azure;
    border-radius: 1rem;
    height: 250px;
    width:350px;
    margin-top:100px;
    text-align: center;
}
.cont{
    height: 150px;
    width:60%;

}
h1{
    position:relative;
    left:600px;
}
.btn{
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    /* box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4); */
    text-decoration: none;
    font-weight: 500;
        justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  
  
}
a{
    text-decoration: none;
}